
#  Probability

## PETE 2061 Lab 5 Workbook 

## THIS IS DUE BY 11:59 PM TODAY

1. Paste the url (or link) to the pete2061 folder in your github account in the "marked down" cell below. <br>

https://github.com/krosht2/PETE2061

2. **Using the example in "lab5_Probability.ipynb", write a Python code to compute the probabililities of all possible total values that can be obtained from rolling a fair die k times. Read in k using the input() function in Python.**

In [2]:
import itertools
numList=list(range(0,2))
k=int(input("Number of dice rolls: "))
print(k)
resultList = list(itertools.product(numList,repeat=k))
print(f"Total possible outcomes = {len(resultList)}")
print(resultList)

import pandas as pd
import numpy as np
resultArray = np.array(resultList)
sumOutcomes = np.sum(resultArray, axis=1)
df1 = pd.DataFrame({"outcomes":resultList,"sumOutcomes":sumOutcomes})
df1

Number of dice rolls: 4
4
Total possible outcomes = 16
[(0, 0, 0, 0), (0, 0, 0, 1), (0, 0, 1, 0), (0, 0, 1, 1), (0, 1, 0, 0), (0, 1, 0, 1), (0, 1, 1, 0), (0, 1, 1, 1), (1, 0, 0, 0), (1, 0, 0, 1), (1, 0, 1, 0), (1, 0, 1, 1), (1, 1, 0, 0), (1, 1, 0, 1), (1, 1, 1, 0), (1, 1, 1, 1)]

        outcomes  sumOutcomes
0   (0, 0, 0, 0)            0
1   (0, 0, 0, 1)            1
2   (0, 0, 1, 0)            1
3   (0, 0, 1, 1)            2
4   (0, 1, 0, 0)            1
5   (0, 1, 0, 1)            2
6   (0, 1, 1, 0)            2
7   (0, 1, 1, 1)            3
8   (1, 0, 0, 0)            1
9   (1, 0, 0, 1)            2
10  (1, 0, 1, 0)            2
11  (1, 0, 1, 1)            3
12  (1, 1, 0, 0)            2
13  (1, 1, 0, 1)            3
14  (1, 1, 1, 0)            3
15  (1, 1, 1, 1)            4

In [3]:
by_sumOutcomes = df1.groupby("sumOutcomes")
by_sumOutcomes.describe()
outcomeDF = by_sumOutcomes.count()
outcomes = outcomeDF.values[:,0]
probability = outcomes / np.sum(outcomes)
newDF = pd.DataFrame({"sum":df1["sumOutcomes"].unique(), "outcomes":outcomes, "probability":probability})
newDF

   sum  outcomes  probability
0    0         1       0.0625
1    1         4       0.2500
2    2         6       0.3750
3    3         4       0.2500
4    4         1       0.0625

3. **In class, we discussed the fundamental principle of counting. If there are n1 ways to perform the first operation, n2 ways to perform the second operation, n3 ways to perform the third operation, ..., and nk ways to perform the k-th operation, the total number of ways to perform the k operations is n1(n2)(n3)...(nk). Write a Python code that reads in n1,n2,n3,...,nk as comma-separated values using the input function. For example, to read in 4 operations with 3,2,1, and 4 outcoumes. You will type "3,2,1,4" after the prompt asks you for the list of outcomes. **

In [6]:
outcomeString=input("Provide list of outcomes: ")
outcomeList=outcomeString.split(",")
print(outcomeList)
k=len(outcomeList)
print(k)
curProd=1
for n_i in outcomeList:
    curProd=int(n_i)*curProd
print(curProd)

Provide list of outcomes: 3,2,1,4
['3', '2', '1', '4']
4
24